* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color: rgb(191, 190, 200);
}

header{
    text-align: center;
}

header img{
    width: 200px;
}

header ul{
    background-color: aqua;
    display: flex;
    justify-content: center;
    list-style: none;
}

header li{
    padding: 15px;
    font-size: 25px;
}

header a{
    text-decoration: none;
}

header a:hover{
    background-color: blue;
    color: aliceblue;
}

main{
    text-align: center;
    padding-top: 20vh;
}

main form input,
span{
    width: 35%;
    padding: 7px;
    font-size: 20px;
    border: solid 1px cornflowerblue;
}
main form span{
    background-color: cornflowerblue;
}
main form span a{
    text-decoration: none;
}



